*.bak
*.done
*.dpf
*.eqn
*.jdi
*.log
*.map
*.mti
*.pin
*.pof
*.qws
*.rbf
*.rpt
*.smsg
*.sof
*.summary
*.swp
*.ttf
*~
.qsys_edit/
db/
hps_isw_handoff/
incremental_db/
output_files/
soc_system/
soc_system.sopcinfo
c5_pin_model_dump.txt
hps_sdram_p0_summary.csv
